[workspace]
resolver = "2"
members = ["module_path_extractor", "statum-core", "statum-macros", "statum", "statum-examples"]

[patch.crates-io]
module_path_extractor = { path = "module_path_extractor" }

[workspace.dependencies]
statum = { path = "statum" }

[workspace.metadata.scripts]
readme = "cp README.md statum/README.md & cp README.md statum-core/README.md & cp README.md statum-macros/README.md && cargo script scripts/update_version.rs -- 0.3.2"
publish = "cargo publish -p statum-core && cargo publish -p statum-macros && cargo publish -p statum"
publish-dry-run = "cargo publish -p statum-core --dry-run && cargo publish -p statum-macros --dry-run && cargo publish -p statum --dry-run"
